@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer components {
  .btn-input {
    @apply px-3 py-2 my-2 outline-none w-full border border-gray-300 bg-gray-100 rounded-md text-xs font-normal
  }

  .btn-primary {
    @apply rounded-md bg-sky-500 text-white px-3 py-2 font-medium text-xs
  }
}

.swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-prev, 
.swiper-slide.swiper-slide-next {
  width: 100% !important;
} 

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.search_results_arrow {
  transform: translateX(-50%) rotate(45deg);
  border-top: 1px solid #e5e7eb;
  border-left: 1px solid #e5e7eb;
}

.or {
  position: relative;
  
}

.or::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5%;
  width: 40%;
  height: 0.5px;
  transform: translateY(-50%);
  background: rgb(199, 199, 199);
}

.or::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40%;
  height: 0.5px;
  transform: translateY(-50%);
  background:  rgb(199, 199, 199);
}

.login-slider {
  width: 100%;
  height: 700px;
}

.slider-container {
  background: url("../public/assets/login/background.png") no-repeat top center;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.images{
  position: absolute;
  top: 25px;
  right: 45px;
  z-index: 500;
  width: 275px;
}
.images > img {
  width: 100%;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading-animation 3s linear infinite;
}

@keyframes loading-animation {

  100% {
    transform: rotate(-360deg);
  }
}
